{% load static %}
<div class="site-header">

    <p class="h-logo">
        <a href="/"><img src="{% static 'img/logo_encantos_finos.png' %}" alt="MultiShop" style="width: 50%;" /></a>
    </p><!--
No Space
--><div class="h-shop">

    <form method="post" action="{% url 'web:buscar' %}" class="h-search" id="h-search">
        {% csrf_token %}
        <input type="text" name="nombre" placeholder="Search...">
        <button type="submit"><i class="ion-search"></i></button>
    </form>

    <ul class="h-shop-links">
        <li class="h-search-btn" id="h-search-btn"><i class="ion-search"></i></li>
        <li class="h-shop-icon h-profile">
            <a href="{% url 'web:cuenta' %}" title="Mi cuenta">
                <i class="ion-android-person"></i>
            </a>
            <ul class="h-profile-links">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'web:usuariologout' %}">Cerrar sesion</a></li>
                {% else %}
                    <li><a href="{% url 'web:usuariologin' %}">Acceder / Registrarse</a></li>
                {% endif %}
                    <li><a href="{% url 'web:carrito' %}">Carrito de compras</a></li>
            </ul>
        </li>

        <li class="h-cart">
            <a class="cart-contents" href="cart.html">
                <p class="h-cart-icon">
                    <i class="ion-android-cart"></i>
                    <span>3</span>
                </p>
                <p class="h-cart-total">$510.00</p>
            </a>
        </li>

        <li class="h-menu-btn" id="h-menu-btn">
            <i class="ion-navicon"></i> Menu
        </li>
    </ul>
</div><!--
No Space
--><div class="mainmenu">

    <nav id="h-menu" class="h-menu">
        <ul>
            <li class="menu-item-has-children">
                <a href="index.html">Home</a>
            </li>
            <li class="menu-item-has-children active">
                <a href="{% url 'web:shop' %}">Shop</a>
            </li>
            <li>
                <a href="elements.html">Contact Us</a>
            </li>
            <li class="menu-item-has-children">
                <a href="blog.html">About us</a>
            </li>
            <li class="menu-item-has-children">
                <a href="about.html">Location</a>
            </li>
        </ul>
    </nav>

</div><!--
No Space
--></div>