{% extends 'layout.html' %}
{% block content %}

<main id="main" class="site-main">
    <div class="cont">
        <h1 class="maincont-ttl">Nosotros</h1>
    </div>
    <div class="maincont page-styling page-full">


        <div class="container mb70 page-styling row-wrap-container row-wrap-nottl">
            <div class="flexslider content_carousel" data-slideshow_speed="7000" data-animation_speed="600"
                data-pagination="true" data-navigation="false" data-stop_on_hover="false">
                <ul class="slides">
                    <li class="page-styling content_carousel-slide">
                        <p class="content_carousel-img" style="background: url(../static/img/NOSOTROS_1.png);">
                            <img src="../static/img/NOSOTROS_1.png" alt="">
                        </p>
                        <div class="content_carousel-cont">
                            <h3>Quienes somos</h3>
                            <p>Encantos Finos se erige como la firma que te proporcionará el más destacado asesoramiento
                                y educación al elegir tu joya. Nos especializamos en diamantes y piedras preciosas, y
                                operamos bajo los estándares de calidad más elevados. Nos proponemos hacer que tu
                                experiencia de educación y compra sea plenamente satisfactoria desde el momento en que
                                lees estas líneas. Nos involucramos desde el primer contacto con nuestra empresa y de
                                por vida. Con nosotros, no solo obtienes joyas excepcionales, sino también un amigo en
                                quien confiar, disponible para apoyarte en todo lo que esté a nuestro alcance.</p>
                        </div>
                    </li>
                    <li class="page-styling content_carousel-slide">
                        <p class="content_carousel-img" style="background: url(../static/img/NOSOTROS_2.png);">
                            <img src="../static/img/NOSOTROS_2.png" alt="">
                        </p>
                        <div class="content_carousel-cont">
                            <h3>Visión</h3>
                            <p>En Encantos Finos, nos visualizamos como líderes destacados en el mundo de la joyería de
                                oro y piedras preciosas. Buscamos ser reconocidos por nuestra excelencia en diseño,
                                calidad y servicio al cliente, creando joyas que trasciendan el tiempo y cuenten
                                historias únicas.</p>
                        </div>
                    </li>
                    <li class="page-styling content_carousel-slide">
                        <p class="content_carousel-img" style="background: url(../static/img/NOSOTROS_3.png);">
                            <img src="../static/img/NOSOTROS_3.png" alt="">
                        </p>
                        <div class="content_carousel-cont">
                            <h3>Misión</h3>
                            <p>En nuestra misión, nos comprometemos a proporcionar a nuestros clientes una experiencia
                                inigualable al adquirir joyas. Especializados en diamantes,
                                mantenemos estándares excepcionales en cada creación. Desde el primer contacto hasta el
                                largo plazo, en Encantos Finos, no solo ofrecemos joyas, sino también un compañero en
                                quien confiar.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div class="cont row-wrap-boxed">
            <div class="page-cont">
                <div class="row mb65">
                    <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                        <div class="iconbox-item iconbox-i-2">
                            <div class="iconbox-i-top">
                                <p class="iconbox-i-img">
                                    <i class="fa fa-home"></i>
                                </p>
                                <h3>Tienda Online</h3>
                            </div>
                        </div>
                    </div>
                    <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                        <div class="iconbox-item iconbox-i-2">
                            <div class="iconbox-i-top">
                                <p class="iconbox-i-img">
                                    <i class="fa fa-comments"></i>
                                </p>
                                <h3>Respuestas Rapidas</h3>
                            </div>
                        </div>
                    </div>
                    <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                        <div class="iconbox-item iconbox-i-2">
                            <div class="iconbox-i-top">
                                <p class="iconbox-i-img">
                                    <i class="fa fa-percent"></i>
                                </p>
                                <h3>Descuentos</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb65">
                <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                    <div class="counter-i">
                        <p data-value="2450" class="counter-i-val"><span>2450</span></p>
                        <p class="counter-i-ttl">Clientes Felices</p>
                    </div>
                </div>
                <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                    <div class="counter-i">
                        <p data-value="4375" class="counter-i-val"><span>4375</span></p>
                        <p class="counter-i-ttl">Horas de Atención</p>
                    </div>
                </div>
                <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                    <div class="counter-i">
                        <p data-value="2200" class="counter-i-val"><span>2200</span></p>
                        <p class="counter-i-ttl">Deliveries realizados</p>
                    </div>
                </div>
            </div>
            <div class="row mb65">
                <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                    <div class="iconbox-item iconbox-i-3">
                        <div class="iconbox-i-top">
                            <p class="iconbox-i-img">
                                <i class="fa fa-diamond"></i>
                            </p>
                            <h3>Productos Únicos</h3>
                        </div>
                    </div>
                </div>
                <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                    <div class="iconbox-item iconbox-i-3">
                        <div class="iconbox-i-top">
                            <p class="iconbox-i-img">
                                <i class="fa fa-globe"></i>
                            </p>
                            <h3>Compras Globales</h3>
                        </div>
                    </div>
                </div>
                <div class="cf-sm-6 cf-lg-3 col-sm-6 col-md-3">
                    <div class="iconbox-item iconbox-i-3">
                        <div class="iconbox-i-top">
                            <p class="iconbox-i-img">
                                <i class="fa fa-shield"></i>
                            </p>
                            <h3>Pagos Seguros</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
{% endblock %}