{% extends 'layout.html' %}
{% block content %}
<main id="main" class="site-main">
    <div class="cont">
        <h1 class="maincont-ttl">Mi Galeria</h1>
    </div>
    <div class="container mb60 page-styling row-wrap-container row-wrap-nottl">
        <div class="row prod-items prod-items-3">
            {% for producto in productos %}
            <article class="cf-sm-6 cf-md-4 cf-lg-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 sectgl-item">
                <div class="sectgl prod-i">
                    <div class="prod-i-top">
                        <p class="prod-badge">
                            <span class="badge-1">{{producto.get_sexo_display}}</span>
                    </p>
                        <a class="prod-i-img" href="{% url 'web:producto' producto.id %}">
                            <img src="{{producto.imagen.url}}" alt="">
                        </a>
                    </div>
                    <div class="prod-i-bot">
                        <div class="prod-i-info">
                            <p class="prod-i-price">${{producto.precio}}</p>
                            <p class="prod-i-categ"><a
                                    href="catalog-gallery.html">{{producto.marca.nombre}}</a></p>
                        </div>
                        <h3 class="prod-i-ttl"><a
                                href="{% url 'web:producto' producto.id %}">{{producto.nombre}}</a>
                        </h3>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
</main>
{% endblock %}